body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;;
}

.container{
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid rgb(229, 255, 0);

}
.list{
    list-style-type: none;
}
.link{
    text-decoration: none;
}

p,h1,h2,h3,h4{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/*------WEBHEADER------*/

.webheader{
    border:  20px solid  #010314;
}
.webheader:hover{
    border-color: #61ee0f;
}
    
     
.webheader-container{
    display: flex;
    justify-content:space-between;
}
.webheader-list{
    display: flex;
    gap: 40px;
    padding: 24px 0;

   
}
.webheader-socials-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    
}

.webheader-logo{
    color:  #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.webheader-logo-accent{
    color: #2E2F42;
}

.webheader-link{
    color:  #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    

}
.webheader-link:is(:hover,:focus){
    color: #404BBF;
}

    

.webheader-socials-link{
    color:  #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 0;
    
}
.webheader-socials-link:is(:hover,:focus){
    color: #404BBF;
}

/*------HERO------*/
.hero{
    background-color: #2E2F42;
    padding: 188px 0;
    border: 10px dashed orchid;
    
}
.hero-title{
    
    max-width: 496px;
    color:  #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.hero-title-accent{
    color: orange;
    text-decoration:underline;
}
.hero-button{
    display: block;
    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color:  #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px ;
    border: none;
    cursor: pointer;
    
}
.hero-button:is(:hover,:focus){
    background-color:  #404BBF;
}

/*-----ADVANTAGE-------*/
.advantage{
    border: 10px dashed gold;
}

.advantage-list{
    display: flex;
    padding: 120px 0;
    gap: 24px;
    
}
.advantage-item:nth-child(odd){
    background-color: #61ee0f;
}

.advantage-title{
    width: calc((100%-3*24)/4);
    color:  #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
   
}
.advantage-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}

/*-----SPECIALTY-------*/

.specialty{
    border: 10px dashed rgb(26, 25, 24);
}
.specialty-list{
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
}
.specialty-title{
        color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.specialty-img-computer{
    border: 1px solid #E7E9FC;
}
.specialty-img-smartphone{
    border: 1px solid #E7E9FC;
}
.specialty-img-laptope{
    border: 1px solid #E7E9FC;
}

/*---------TEAM----------*/
.team{
        border: 10px solid rgb(213, 228, 7);
}
.team-list{
    display: flex;
    gap: 24px;
}
.team-title{
        color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-top: 120px;
        margin-bottom: 72px;
}
.subtitle-text{
    padding: 32px 16px;
}

.team-subtitle{
        color:  #2E2F42;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.team-text{
        color: #434455;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*------WEBSTUDIO FOOTER----------*/

.webstudio-footer{
    background-color: #2E2F42;
    border: 10px dashed silver;
    padding-top: 101.5px;
    padding-bottom: 100px;
    
}
.webstudio-footer-logo{
        color:  #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       margin-bottom: 17.5px;
       display: inline-block;
}
.webstudio-footer-logo-accent{
    color: #F4F4FD;
}
.webstudio-footer-text{
        max-width: 264px;
        color:  #F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}

/*----HEADER PORTFOLIO----------*/
.header_portfolio{
    border: 10px dotted gold;
}
 .header_portfolio-container{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
 }

.header_portfolio-list{
        display: flex;
        gap: 40px;
}
.header_portfolio-socials-list{
    display: flex;
    gap: 40px;
}
.header_portfolio-logo{
        color:  #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}
.header_portfolio-logo-accent{
    color:  #2E2F42;
}

.header_portfolio-link{
        color:  #2E2F42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}
.header_portfolio-link:is(:hover, :focus) {
    color: #404BBF;
}
.header_portfolio-socials-link{
        color:  #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header_portfolio-socials-link:is(:hover,:focus){
        color: #404BBF;
}

/*-----PORTFOLIO----------*/
.portfolio{
    border: 10px solid ;
}
.portfolio-button-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 96px;
    margin-bottom: 72px;
}
.portfolio-button{
        color:  #4D5AE5;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        padding: 12px 24px;
        border-radius: 4px;
        border: 1px solid  #E7E9FC;
        background-color: #F4F4FD;

}
.portfolio-button-item:nth-child(even){
    border: 5px dotted gold;
}
.portfolio-button-accent{
    background-color: #404BBF;
    color: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-img-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.img-banking{
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
}
.portfolio-subtitle-text{
    padding: 32px 16px;
}

.portfolio-subtitle{
        color:  #2E2F42;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.portfolio-text{
        color:  #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*-----PORTFOLIO FOOTER----------*/

.portfolio-footer{
    background-color: #2E2F42;
    padding-top: 101px;
    padding-bottom: 100px;
 
}
.portfolio-footer-logo{
        color:  #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        border: 5px dashed yellowgreen;
       

}

.portfolio-footer-logo-accent{
        color: #F4F4FD;
}
.portfolio-footer-text{
        max-width: 264px;
        display: block;
        color:  #F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-top: 17px;
        border: 5px dashed yellowgreen;
}